<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="StaffingPurchaseDataContext" connectionString="Data Source=DESKTOP-HL706HC\SQLEXPRESS2014;Initial Catalog=StaffingPurchase;Persist Security Info=True;User ID=sa;Password=P@ssword123" providerName="System.Data.SqlClient" />
    <add name="CadenaDataContext" connectionString="Data Source=DESKTOP-HL706HC\SQLEXPRESS2014;Initial Catalog=StaffingPurchase;Persist Security Info=True;User ID=sa;Password=P@ssword123" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <!-- Fix auto redirect to Login.aspx issue -->
    <add key="autoFormsAuthentication" value="false" />
    <add key="enableSimpleMembership" value="false" />
    <!-- END: Fix auto redirect to Login.aspx issue -->
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="DefaultAppCulture" value="vi" />
    <!-- Test users -->
    <add key="TestUsers" value="TriNguyen" />
    <add key="TestUserReplacement" value="VNM00000" />

    <!-- *** Batch Jobs *** -->
    <!--Feature toggling-->
    <add key="EmployeeInfoSyncWorkerEnabled" value="true" />
    <add key="DataUpdateWorkerEnabled" value="true" />
    <!-- *** END: Batch Jobs *** -->

    <!--Order-->
    <add key="OrderSessionStartDayOfMonth" value="15" />
    <add key="OrderSessionEndDayOfMonth" value="3" />
    <add key="OrderSessionDurationInMoth" value="2" />

    <!--User-->
    <add key="AwardedPVsOnBirthday" value="15" />
    <add key="CadenaQueryPath" value="bin\SQL\CadenaQuery.sql" />
    
    <!-- Email -->
    <add key="SmtpClientHost" value="smtp.gmail.com" />
    <add key="SmtpClientPort" value="587" />
    <add key="SmtpClientUser" value="staffingpurchase.amway@gmail.com" />
    <add key="SmtpClientPassword" value="P@ssword123" />
    <add key="SmtpClientDomain" value="gmail.com" />
    <add key="SmtpClientEmailFrom" value="staffingpurchase.amway@Amway.com" />
    <add key="SmtpClientEnableSsl" value="true" />
    <add key="TurnOffCertificateValidation" value="false"/>

    <!--Excel Templates-->
    <add key="WarehouseOrderSummary" value="~/App_Data/ExcelTemplates/OrderSummary.xlsx" />
    <add key="OrderPackagedAdminReportTemplate" value="~/App_Data/ExcelTemplates/OrderPackagedAdminReport.xlsx" />
    <add key="OrderPackagedWarehouseReportTemplate" value="~/App_Data/ExcelTemplates/OrderPackagedWarehouseReport.xlsx" />
    <add key="OrderDetailReportTemplate" value="~/App_Data/ExcelTemplates/OrderDetailReport.xlsx " />
    <add key="AwardUploadSampleTemplate" value="~/App_Data/ExcelTemplates/Award-sample.xlsx" />
    <add key="ProductUploadSampleTemplate" value="~/App_Data/ExcelTemplates/ProductList-sample.xlsx" />
    <add key="InternalRequisitionForm" value="~/App_Data/ExcelTemplates/InternalRequisitionForm.xlsx" />
    <add key="SummaryDiscountProductTemplate" value="~/App_Data/ExcelTemplates/SummaryDiscountProduct.xlsx" />
    <add key="OrderByIndividualPVTemplate" value="~/App_Data/ExcelTemplates/OrderByIndividualPV.xlsx" />
    <add key="OrderByIndividualDiscountTemplate" value="~/App_Data/ExcelTemplates/OrderByIndividualDiscount.xlsx" />
    <add key="WarehousePackagePVOrderTemplate" value="~/App_Data/ExcelTemplates/WarehousePackageOrderPV.xlsx" />
    <add key="WarehousePackageDiscountOrderTemplate" value="~/App_Data/ExcelTemplates/WarehousePackageDiscountOrderTemplate.xlsx" />
    <add key="PolicyDocumentFolder" value="~/App_Data/PolicyDocuments/" />
    <!--Excel Protection Password-->
    <add key="ExcelProtectionPassword" value="StaffPurchasing@123" />
    <!-- IP -->
    <add key="Ipv4PrivateAddresses" value="10.0.0.0-10.255.255.255;172.16.0.0-172.31.255.255;192.168.0.0-192.168.255.255" />
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <authentication mode="Forms">
      <forms name=".AUTH_SPAPP" loginUrl="/login"></forms>
    </authentication>
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <customErrors mode="RemoteOnly">
      <error statusCode="404" redirect="~/Error/NotFound" />
    </customErrors>
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" />
    </httpModules>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorMail" type="Elmah.ErrorMailModule, Elmah" preCondition="managedHandler" />
      <add name="ErrorFilter" type="Elmah.ErrorFilterModule, Elmah" preCondition="managedHandler" />
    </modules>
    <security>
      <!-- For IISExpress, need to set overwirte mode to 'True' in C:\Users\Tri Nguyen\Documents\IISExpress\config\applicationhost.config -->
      <!-- Currently, I have to change in the .vs\config folder of the current project this option to make the effect-->
      <!--<authentication>
        <windowsAuthentication enabled="false" />
      </authentication>-->
    </security>

    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="Rewrite Fonts" stopProcessing="true">
          <match url="^static/fonts/?(.*)$" />
          <action type="Rewrite" url="/Content/fonts/{R:1}" />
        </rule>
        <rule name="Rewrite Images" stopProcessing="true">
          <match url="^static/images/?(.*)$" />
          <action type="Rewrite" url="/Images/{R:1}" />
        </rule>
        <rule name="Rewrite ui-grid CSS" stopProcessing="true">
          <match url="^static/css/(ui-grid.+)$" />
          <action type="Rewrite" url="/bower_components/angular-ui-grid/{R:1}" />
        </rule>
        <rule name="Rewrite js map" stopProcessing="true">
          <match url="^static/js/([a-z-]+)\.min\.js\.map" />
          <action type="Rewrite" url="/bower_components/{R:1}/{R:1}.min.js.map" />
        </rule>
      </rules>
    </rewrite>

    <staticContent>
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".woff" mimeType="application/font-woff" />
    </staticContent>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.VisualStudio.Enterprise.AspNetHelper" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <codeBase version="11.0.0.0" href="file:///C:/Program%20Files%20(x86)/Microsoft%20Visual%20Studio%2011.0/Common7/IDE/PrivateAssemblies/Microsoft.VisualStudio.Enterprise.AspNetHelper.DLL" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Threading.Tasks" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.8.0" newVersion="2.6.8.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http.WebHost" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!-- log4net config -->
  <log4net debug="true">
    <appender name="StaffingPurchaseAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\StaffingPurchase_log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%-5level]; [%thread]; [%date{yyyy-MM-dd HH:mm:ss.fff}]; [%logger]; %message%newline" />
      </layout>
    </appender>
    <!-- Set root logger level to DEBUG and its only appender to A1 -->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="" />
    </root>
    <logger name="StaffingPurchaseLogger">
      <level value="DEBUG" />
      <appender-ref ref="StaffingPurchaseAppender" />
    </logger>
  </log4net>
  <elmah>
    <security allowRemoteAccess="true" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="StaffingPurchaseDataContext" applicationName="StaffingPurchase" />
  </elmah>
  <location path="elmah9690dc8539ca4ebda6f62603460fdd74.axd" inheritInChildApplications="false">
    <system.web>
      <httpHandlers>
        <add verb="POST,GET,HEAD" path="elmah9690dc8539ca4ebda6f62603460fdd74.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
      </httpHandlers>
      <!--
        See http://code.google.com/p/elmah/wiki/SecuringErrorLogPages for
        more information on using ASP.NET authorization securing ELMAH.

      <authorization>
        <allow roles="admin" />
        <deny users="*" />
      </authorization>
      -->
    </system.web>
    <system.webServer>
      <handlers>
        <add name="ELMAH" verb="POST,GET,HEAD" path="elmah9690dc8539ca4ebda6f62603460fdd74.axd" type="Elmah.ErrorLogPageFactory, Elmah" preCondition="integratedMode" />
      </handlers>
    </system.webServer>
  </location>
</configuration>
