<uib-alert type="{{vm.alert.type}}" ng-show="vm.alert.show">{{vm.alert.msg | translate}}</uib-alert>
<fieldset class="fieldset">
	<form class="form-horizontal" role="form">
		<div class="row">
			<div class="form-group col-md-12">
				<label class="col-md-2" translate>Award.Name</label>
				<div class="col-md-3">
					<input type="text" class="form-control" ng-model="vm.filter.name" />
				</div>
				<label class="col-md-2 col-md-offset-2" translate>Award.PV</label>
				<div class="col-md-3">
					<input type="text" class="form-control" ng-model="vm.filter.pv" />
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 text-right">
				<button type="button" value="openModal" class="btn btn-primary" ng-click="vm.openCreationModal()">
					<i class="fa fa-plus"></i> {{ "Award.Create" | translate }}
				</button>
				&nbsp;&nbsp;&nbsp;
				<button type="submit" value="search" class="btn btn-primary" ng-click="vm.searchAwards()">
					<i class="fa fa-search"></i> {{ "Common.Search" | translate }}
				</button>
			</div>
		</div>
	</form>
</fieldset>
<fieldset class="fieldset" ng-if="vm.searched">
	<div ui-grid="vm.gridOptions" ui-grid-pagination class="grid" ui-grid-auto-resize ng-style="getGridHeight(vm.gridOptions)"></div>
</fieldset>
