    <div class="row">
        <div class="col-md-6">
            <uib-alert type="{{vm.alertChangePassword.type}}" ng-show="vm.alertChangePassword.show" close="vm.alertChangePassword.close()">{{vm.alertChangePassword.mgs | translate}}</uib-alert>
            <fieldset class="fieldset">
                <div class="container-fluid">
                    <form class="form" role="form">
                        <div class="row form-group form-group-update">
                            <div class="col-md-12">
                                <div class="form-group row">
                                    <label class="col-md-5 control-label" translate>User.OldPassword</label>
                                    <div class="col-md-7">
                                        <input type="password" ng-model="vm.password.oldPassword" required class="form-control" />
                                    </div>
                                </div>
                                <br />
                                <div class="form-group row">
                                    <label class="col-md-5 control-label" translate>User.NewPassword</label>
                                    <div class="col-md-7">
                                        <input type="password" ng-model="vm.password.newPassword" required class="form-control" />
                                    </div>
                                </div>
                                <br />
                                <div class="row form-group">
                                    <label class="col-md-5 control-label" translate>User.VerifyNewPassword</label>
                                    <div class="col-md-7">
                                        <input type="password" ng-model="vm.password.verifyNewPassword" required class="form-control" />
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-7 col-md-offset-5">
                                        <button type="submit" class="btn btn-primary" ng-disabled="vm.password.newPassword === '' || vm.password.oldPassword === '' || vm.password.verifyNewPassword === ''" ng-click="vm.changePassword()">
                                            <i class="fa fa-key"></i> {{"User.ChangePassword" | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form> 
                </div>
                
            </fieldset>
        </div>
        <div class="col-md-6"><!-- Empty Column --></div>
    </div>
