<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>

    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="StaffingPurchaseDataContext" connectionString="Data Source=.\MSSQLSERVER2;Initial Catalog=StaffingPurchase_Dev;Integrated Security=True;MultipleActiveResultSets=True;Application Name=StaffingPurchase" providerName="System.Data.SqlClient" />
    <add name="CadenaDataContext" connectionString="Data Source=.\MSSQLSERVER2;Initial Catalog=Cadena_Lite;Integrated Security=True;MultipleActiveResultSets=True;Application Name=StaffingPurchase" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
     <!--Feature toggling--> 
    <add key="EmployeeInfoSyncWorkerEnabled" value="true" />
    <add key="DataUpdateWorkerEnabled" value="true" />

     <!--Order--> 
    <add key="OrderSessionStartDayOfMonth" value="15" />
    <add key="OrderSessionEndDayOfMonth" value="3" />
    <add key="OrderSessionDurationInMoth" value="2" />

     <!--User--> 
    <add key="AwardedPVsOnBirthday" value="15" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

  <!-- log4net config -->
  <log4net debug="true">
    <appender name="StaffingPurchaseAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\StaffingPurchase_AutoJob_log.txt" />
      <param name="AppendToFile" value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="[%-5level]; [%thread]; [%date{yyyy-MM-dd HH:mm:ss.fff}]; [%logger]; %message%newline" />
      </layout>
    </appender>
    <!--Set root logger level to DEBUG and its only appender to A1-->
    <root>
      <level value="DEBUG" />
      <appender-ref ref="" />
    </root>
    <logger name="StaffingPurchaseLogger">
      <level value="DEBUG" />
      <appender-ref ref="StaffingPurchaseAppender" />
    </logger>
  </log4net>
  <elmah>
    <security allowRemoteAccess="true" />
    <errorLog type="Elmah.SqlErrorLog, Elmah" connectionStringName="StaffingPurchaseDataContext" applicationName="StaffingPurchase" />
  </elmah>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>
